.heading {
  font-size: x-large;
  font-weight: bold;
  /* margin-top: -200px; */
}

.jc {
  font-size: larger;
  /* margin-top: -10em; */
}

.hd {
  font-weight: bold;
  color: rgb(107, 107, 107);
}

span {
  color: red;
  font-size: 0.6em;
}

/* .clogo {
  height: 25%;
} */
