.navbar-nav > li > a,
.navbar-brand {
  height: 50px;
}
.navbar {
  min-height: 40px !important;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 203, 5, 1) 0%,
    rgba(255, 144, 5, 1) 100%
  );
}

.display-4 {
  font-size: x-large;
  color: #502214;
  font-weight: 400;
}

img {
  margin-top: -12px;
}
